<html><head></head><body><div class="footer-basic-centered">
        <div class="footer-company-motto">
           Redes sociales
        </div>
        <div class="footer-links">

                    <a href="https://twitter.com/ocioconlupa?s=11" class="footerLogo twitter">
                        <img src="Twitter-bird-Logo__white.png" width="29px" height="23px">
                        </a>
                            <a href="https://instagram.com/ocioconlupa?igshid=1xiwk2n3dkfuk" class="footerLogo linkedIn">
                                <img src="In-White-28px-R.png" width="70px" height="70px">
                            </a>
                                <a href="https://www.facebook.com/ocio.conlupa" class="footerLogo facebook">
                                    <img src="FB-f-Logo__white_29.png">
                                    </a>
                                    </div>
        <div class="footer-disclaimer">
        </div>
        <div class="footer-company-name">
        </div>
        
                                    </div></body></html>